.head, .toc-nav, .self-link {
  display: none;
}

#toc span {
  margin-top: 0 !important;
}

#toc {
  break-after: page;
}


#pdf-title,
#copyright,
/* #copyright-before, */
#copyright-after {
  display: block !important;
}

#copyright {
  border: 2px solid black;
  padding: 10px;
  break-before: page;
  break-after: page;

  * {
    line-height: 1;
  }
}

#copyright-before, #copyright-after {
  break-before: page;
  break-after: page;
}


#contents {
  margin-top: 0;
}

dt, h1, h2, h3, h4, h5, h6 {
  break-after: avoid;
}

#print-title, #license, #index {
  break-before: page;
}

@page {
  margin-top: 4cm;
  margin-bottom: 2.5cm;
  size: A4 portrait;
}